.button
  padding: 18px 25px
  border: none
  border-radius: 2px
  color: $light
  text-transform: uppercase
  font-family: "Futura Demi", sans-serif
  font-size: 0.93rem
  font-weight: 500
  line-height: 1.07rem
  &:hover
    cursor: pointer
  &--primary
    background-color: $primary
    box-shadow: 0px 5px 15px rgba($primary, 0.2)
    transition: box-shadow 0.3s
    &:hover
      box-shadow: none
  &--outline
    padding: 18px 41px
    border: 1px solid $light
    background-color: transparent
    transition: background-color 0.2s
    &:hover
      background-color: $primary
      border: 1px solid $primary
.section
  padding: 60px 0
  &-title
    text-align: center
    text-transform: uppercase
    font-size: 1.43rem
    font-family: "Yeseva One", cursive
    &__image
      display: flex
      align-items: center
      justify-content: center
      &::before, &::after
        content: ""
        width: 32px
        height: 2px
        background-color: $primary
        margin: 0 10px