.hero
  position: relative
  padding-top: 88px
  background: $dark url('../img/hero-bg.jpg') no-repeat center / cover
  color: $light
  height: 100vh
  &__instagram
    position: absolute
    left: 0
    top: 0  
    max-width: 90px
    height: 100%
  &__title
    margin: 0
.instagram
  display: flex
  align-items: center
  justify-content: center
  background-color: $dark
  &__link
    text-transform: uppercase
    text-decoration: none
    color: $primary
    transform: rotate(90deg)