.hero
  position: relative
  display: flex
  align-items: center
  padding-top: 88px
  background: $dark url('../img/hero-bg.jpg') no-repeat center / cover
  color: $light
  height: 100vh
  &__instagram
    position: absolute
    left: 0
    top: 0  
    max-width: 90px
    height: 100%
  &__content
    max-width: 670px
  &__title
    margin: 0
  &__text
    font-size: 22px
    line-height: 30px
    max-width: 500px
    margin-bottom: 40px
  &__button
    margin-right: 20px
  &__scroll-down
    position: absolute
    display: flex
    justify-content: center
    align-items: center
    left: 0
    bottom: 0
    min-width: 247px
    min-height: 97px
    background-color: $dark
    color: $light
    font-family: "Yeseva One", sans-serif
    font-size: 12px
    text-transform: uppercase
    text-decoration: none
.instagram
  display: flex
  align-items: center
  justify-content: center
  background-color: $dark
  &__link
    text-transform: uppercase
    text-decoration: none
    color: $primary
    transform: rotate(90deg)
.title
  font-family: "Yeseva One", sans-serif
  font-size: 40px
  line-height: 53px
  text-transform: uppercase
  &--primary
    color: $primary