.project
  &-slider
    &__text
      width: 40%
      max-width: 502 * $rem
    &__image
      width: 55.5%
      max-width: 691 * $rem
  &__swiper-slide
    margin-bottom: 65 * $rem
.swiper
  &-slide
    display: flex
    flex-wrap: wrap
    &__wrap
      display: flex
      flex-wrap: wrap
      max-width: 383 * $rem
    &__text
      flex-basis: 38%
      // padding-bottom: 2rem
      margin-bottom: 38 * $rem
    &__heading
      color: $primary
      font-family: "Yeseva One", cursive
      font-size: 18 * $rem
      line-height: 25 * $rem
      text-transform: uppercase
      margin-top: 0
      margin-bottom: 0.4rem
    &__description
      font-size: 15 * $rem
      line-height: 20 * $rem
    &__image
      text-align: right
  &-pagination
    &-bullet
      background-color: rgba($light, 0.3)
      &-active
        background-color: $light
  &-button
    &-prev, &-next
      bottom: 0
      top: auto
      // background-size: 42px
      width: 42 * $rem
      height: 14 * $rem
      &::after
        display: none
    &-prev
      left: 0
      background: url(../img/arrow-prev.svg) no-repeat center / cover
    &-next
      background: url(../img/arrow-next.svg) no-repeat center / cover
.swiper-container-horizontal>.swiper-pagination-bullets
  width: auto
  bottom: -1px
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet
  margin: 0 10px
@media screen and ( max-width:  760px)
  .project
    &-slider
      &__text
        width: 100%
        max-width: 1256 * $rem
      &__image
        width: 100%
        max-width: 1256 * $rem
    &__swiper-slide
      margin-bottom: 30 * $rem
  .swiper
    &-pagination
      margin-bottom: 1rem
    &-button
      &-prev, &-next
        margin-bottom: 1rem
  .row
    flex-wrap: wrap