.types
  &__section-title
    margin-bottom: 2.1rem
.row
  display: flex
  align-items: flex-start
  justify-content: space-between
.col
  flex-basis: 32%
.card
  &__text
    position: relative
    max-width: 23.54rem
    margin: 0 auto
    margin-top: -9.3rem
    padding: 1.55rem 2.14rem
    background-color: $light
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03)
  &__title
    font-family: "Yeseva One", sans-serif
    font-size: 1.28rem
    line-height: 1.78rem
    color: $text
    margin-top: 0
    margin-bottom: 0.4rem
  &__list
    padding: 0 0 0 1.1rem
    margin: 0 0 2.4rem 0
    font-size: 1.07rem
    line-height: 1.88rem
    color: $secondary
  &__pricetag
    position: absolute
    left: 0
    bottom: 0
    margin-bottom: -2rem
    font-family: "Yeseva One", sans-serif
    font-size: 1.28rem
    line-height: 1.78rem
    text-transform: uppercase
    padding: 1.1rem 2.5rem
    background-color: $primary
    color: $light
    box-shadow: 5px 5px 10px rgba($primary, 0.3)
    transition: box-shadow 0.3s
    &:hover
      box-shadow: none
@media screen and ( max-width: 760px)
  .types
    &__card
      margin-bottom: 6.58rem
  .row
    flex-direction: column
    align-items: center
  .card
    &__text
      margin-left: 0